.booking-modal-container {
    .booking-modal-content {
        display       : flex;
        flex-direction: column;

        .booking-modal-header {
            padding         : 10px;
            border-bottom   : 1px solid #ccc;
            background-color: #7fffd454;

            .left {
                font-size  : 15px;
                font-weight: 600;
                color      : #000000;
            }

            .right {
                float : right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            padding: 15px;
            height : 100%;

            .doctor-medipk-info {
                display         : flex;
                background-color: #00ffff21;
                border-radius   : 5px;
                padding         : 5px;


                .img-doctor {
                    height         : 100px;
                    width          : 100px;
                    border         : 1px solid #ccc;
                    background     : center center no-repeat;
                    background-size: cover;
                    border-radius  : 50%;
                }

                .img-medipk {
                    height         : 100px;
                    width          : 160px;
                    border         : 1px solid #ccc;
                    background     : center center no-repeat;
                    background-size: cover;
                }

                .info-doctor {
                    margin-left : 20px;
                    padding-left: 15px;
                    border-left : 1px solid gainsboro;
                }

                .info-medipk {
                    margin-left : 10px;
                    padding-left: 15px;
                    border-left : 1px solid gainsboro;
                }
            }

            .formdien {
                margin-top: 20px;

                input,
                textarea {
                    color: blue;
                }

                .forwho {
                    display: flex;
                    padding: 7px 0px;

                    .no {
                        color          : gray;
                        text-decoration: line-through;
                    }

                    .yes {
                        color: blue;
                    }

                    .who {
                        cursor     : pointer;
                        margin-left: 20px;
                    }

                }

                table {
                    font-size: 15px;

                    .td1 {
                        text-align: right;
                        width     : 270px;
                    }

                    .td2 {
                        input {
                            width: 450px;
                        }
                    }

                }

            }
        }

        textarea:disabled {
            background-color: whitesmoke;
        }

        .booking-modal-footer {
            background-color: #7fffd454;
            border-top      : 1px solid #ccc;
            padding         : 10px;
            display         : flex;
            justify-content : flex-end;
            gap             : 15px;

        }
    }
}

.doctor-image-modal {
    height         : 25vh;
    width          : 25vh;
    border         : 1px solid #ccc;
    background     : center center no-repeat;
    background-size: contain;
    border-radius  : 50%;
}

#label-upload {
    width           : 20vh;
    text-align      : center;
    padding         : 5px;
    border-radius   : 3px;
    background-color: #ddd;
    cursor          : pointer;


    &:hover {
        opacity: 0.9;
    }
}

#kec {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.thongbaodatlichthanhcong {
    padding: 20px;
}