.taolich {
    background-color: rgb(231, 255, 247);

    .avatarmodal {
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
        border-radius      : 50%;
        border             : 1px solid black;
        width              : 3vw;
        height             : 3vw;
    }

    .fa-window-close {
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }


    .inputClockDOM {
        width: 7vw;
    }

    .khungiodatao {
        min-height      : 20vh;
        padding         : 1vh;
        background-color: rgb(217, 252, 240);
        border          : 2vh solid rgb(231, 255, 247);
    }

    .foot {}
}