.full {
    margin-left  : 2vw;
    margin-right : 2vw;
    margin-top   : 2vh;
    margin-bottom: 2vh;

    .head {
        .avatar {
            height             : 7vw;
            width              : 7vw;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-position: center;
            border-radius      : 50%;
            border             : 1px solid gainsboro;
        }
    }

    .body {
        display: flex;

        .body-left {
            width: 90vw;

            .taokhungio {

                .inputClockDOM {
                    width: 5vw;
                }

                .area {
                    display         : flex;
                    font-size       : 17px;
                    background-color: #ffe8bd;
                    border-radius   : 3px;
                    padding         : 3px 10px;
                }
            }



            .khungiodatao {
                margin-top      : 1vh;
                margin-bottom   : 1vh;
                min-height      : 15vh;
                background-color: rgb(217, 252, 240);

                button {
                    margin          : 1vh;
                    background-color: antiquewhite;
                    cursor          : pointer;

                    &:hover {
                        background-color: red;
                    }
                }
            }

            .button1 {
                background-color: rgb(215, 245, 255);
                padding-top     : 1vh;
                padding-bottom  : 1vh;
                display         : flex;
            }

            .button2 {
                background-color: rgb(255, 215, 215);
                padding-top     : 1vh;
                padding-bottom  : 1vh;
                display         : flex;
            }
        }

        // .body-right {
        //     width     : 19vw;
        //     min-height: 50vh;
        //     margin    : 1vw;
        // }
    }

    .lich {
        // border: 1px solid green;
        margin-left : 1vw;
        margin-right: 1vw;

        .lichRow {
            // border: 1px solid blue;

            .col {
                border    : 1px dashed blue;
                min-height: 30vh;
                display   : flex;

                .thu_ngay_thang {
                    // border    : 1px solid sienna;
                    // text-align: center;
                    width: 40%;
                    color: blue;
                }

                .list_khung_gio {
                    text-align: center;
                    width     : 60%;
                }
            }
        }


    }
}