.lichbieu {
    table {
        font-family    : arial, sans-serif;
        border-collapse: collapse;
        width          : 68vw;
    }

    td,
    th {
        border    : 1px solid #dddddd;
        text-align: left;
        text-align: center;
    }

    .td-bacsi {
        text-align: left;
        cursor    : pointer;

        &:hover {
            color: orange;
        }
    }

}


.taolich {
    position        : fixed;
    right           : 0px;
    top             : 10vh;
    width           : 32vw;
    background-color: rgb(231, 255, 247);

    .fa-window-close {
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }


    .inputClock {
        width: 4vw;
    }

    .khungiodatao {
        min-height      : 20vh;
        padding         : 1vh;
        background-color: rgb(217, 252, 240);
        border          : 2vh solid rgb(231, 255, 247);
    }

    .btn {
        margin: 2vh;
    }
}