img {
    height: auto;
    width : 100%;
}

.preview-image {
    height         : 40vh;
    width          : 100%;
    border         : 1px solid #ddd;
    background     : center center no-repeat;
    background-size: contain;
    cursor         : pointer;
    margin-bottom  : 10px;
}

.label-upload {
    width           : 30vh;
    text-align      : center;
    padding         : 5px;
    border-radius   : 3px;
    background-color: #ddd;
    cursor          : pointer;


    &:hover {
        opacity: 0.9;
    }
}

.button-add-speciatly {
    // trường hợp thêm mới
    border       : none;
    background   : palegreen;
    padding      : 8px 5px;
    min-width    : 75px;
    border-radius: 3px;
    cursor       : pointer;

    &:hover {
        opacity: 0.8;
    }

}