.detail-clinic-container {

    .detail-clinic-body {
        padding         : 0 70px;
        background-color: #eee;
        display         : flex;
        flex-direction  : column;

        .description-clinic {
            background-color: white !important;
            padding         : 10px;
            margin          : 15px 0;
            height          : 180px;
            display         : flex;

            .anh {
                height         : 150px;
                width          : 250px;
                background     : center center no-repeat;
                background-size: cover;
            }

            .ten-diachi {
                padding-left: 10px;
                width       : 650px;

                h2 {
                    font-size  : 32px;
                    font-weight: 900;
                    font-family: math;
                }

                h5 {
                    margin-left: 10px;
                    font-size  : 17px;
                }
            }

            .datlich {
                margin-top: 20px;
                width     : 300px;
                height    : 150px;

                p {
                    font-size  : 28px;
                    font-family: math;
                    font-weight: 900;
                    color      : #a56b00;
                    cursor     : pointer;

                    &:hover {
                        text-decoration: underline;
                        color          : rgb(255, 188, 161);
                    }
                }

                i {
                    font-size                : 24px;
                    color                    : blue;
                    position                 : relative;
                    top                      : -11px;
                    animation-name           : example;
                    animation-duration       : 3s;
                    animation-iteration-count: infinite;
                }

                @keyframes example {
                    0% {
                        left: 0px;
                        top : -15px;
                    }

                    75% {
                        left: 130px;
                        top : -15px;
                    }

                    100% {
                        left: 130px;
                        top : -48px;
                    }
                }
            }
        }

        .gioithieu {
            min-height: 200px;
        }
    }

    .list {
        margin-left: 60px;
    }

}