.clinic-image {
    height         : 12vh;
    width          : 12vw;
    background     : center center no-repeat;
    background-size: contain;
}

.manageclinic2 {
    table {

        td,
        th {
            border    : 1px solid gainsboro;
            min-width : 60px;
            text-align: center;
        }
    }
}