.dondatlich {
    margin-top : 5px;
    display    : flex;
    position   : fixed;
    top        : 40px;
    height     : 92vh;
    padding-top: 2px;

    .nofi {
        width   : 250px;
        overflow: scroll;

        .lammoi {
            cursor          : pointer;
            font-size       : 16px;
            border          : 1px solid black;
            padding         : 0px 6px;
            border-radius   : 16px;
            background-color: white;

            &:hover {
                text-decoration: underline;
            }
        }

        .view {
            display        : flex;
            justify-content: space-between;
            padding        : 0px 20px;
        }

        .badge3 {
            background-color: linen;
            color           : black;
            border          : 1px solid black;
        }

        .badge2 {
            background-color: orange;
            color           : white;
        }

        .badge1 {
            background-color: gainsboro;
            color           : blue;
            border          : 1px solid black;
        }

        .notification {
            margin         : 15px 5px 0px 0px;
            text-decoration: none;
            padding        : 0px 0px;
            position       : relative;
            display        : inline-block;
            border-radius  : 2px;
            cursor         : pointer;

            .choduyet {
                font-size    : 20px;
                padding      : 5px 12px;
                border-radius: 3px;
                border       : 1px solid black;

                &:hover {
                    background-color: lightcyan;
                }
            }

            .fas {
                font-size: 45px;
                color    : #5a00ff;

                &:hover {
                    opacity: 0.8;
                }
            }

            .badge {
                position     : absolute;
                top          : -10px;
                right        : -17px;
                padding      : 6px 9px;
                border-radius: 50%;
                font-size    : 17px;
            }
        }


        .list {
            label {
                padding        : 10px 0px 0px 20px;
                font-size      : 16px;
                text-decoration: underline;
            }

            table {
                font-size: 18px;
                margin   : 0px 0px 0px 20px;

                tr {
                    border: 1px solid black;

                    .ngay {
                        cursor : pointer;
                        padding: 3px 17px;

                        &:hover {
                            background-color: rgb(255, 179, 86);
                            text-decoration : underline;
                        }
                    }

                    .num {
                        padding      : 0px 8px;
                        border-radius: 50%;
                        font-weight  : 600;
                        margin       : 2px 0px;
                    }
                }
            }
        }

    }

    .book {
        width   : 1010px;
        overflow: scroll;

        .date {
            display        : flex;
            justify-content: space-between;

            .datepicker {
                width  : 200px;
                padding: 5px 10px;
            }

            .datepicked {
                padding: 5px 10px;
            }
        }

        .danhdaudaxem {
            cursor          : pointer;
            margin          : 0 20px;
            padding         : 2px 6px;
            font-size       : 15px;
            border-radius   : 5px;
            border          : 1px solid gainsboro;
            background-color: whitesmoke;

            &:hover {
                text-decoration: underline;
            }
        }

        .list {
            .child {
                display      : flex;
                border       : 2px solid gainsboro;
                margin       : 3px;
                min-width    : 100vw;
                border-radius: 10px;

                .gach {
                    text-decoration: line-through;
                }

                .ngaygio {
                    padding: 10px;
                    width  : 170px;
                }

                .infobenhnhan {
                    padding: 10px;
                    width  : 300px;

                    h5 {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .infokham {
                    padding: 10px;

                    .small-ava {
                        border             : 1px solid gray;
                        background-size    : contain;
                        background-repeat  : no-repeat;
                        background-position: center;
                        background-color   : white;
                    }

                    .dr {
                        width        : 42px;
                        height       : 42px;
                        border-radius: 50%;
                    }

                    .pk {
                        width : 70px;
                        height: 42px;
                    }

                    .choose {
                        padding      : 2px 5px;
                        border       : 1px solid black;
                        border-radius: 3px;
                        margin       : 10px 10px 0px 0px;
                        cursor       : pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}