.dondatlich {
    margin-top : 5px;
    display    : flex;
    position   : fixed;
    top        : 7vh;
    height     : 92vh;
    padding-top: 2px;
    border-top : 1px solid gray;

    .nofi {
        width   : 270px;
        overflow: scroll;

        .notification {
            background-color: cyan;
            color           : black;
            text-decoration : none;
            padding         : 22px 10px 0px;
            position        : relative;
            display         : inline-block;
            border-radius   : 2px;
            width           : 200px;
            text-align      : center;
            margin          : 10px;
            cursor          : pointer;

            .chuaxem {
                position        : absolute;
                top             : -10px;
                right           : -10px;
                padding         : 5px 12px;
                border-radius   : 50%;
                background-color: orange;
                color           : white;
                font-size       : 17px;
            }

            .xemnhungchuasua {
                position        : absolute;
                top             : -10px;
                right           : 40px;
                padding         : 5px 12px;
                border-radius   : 50%;
                background-color: gray;
                color           : white;
                font-size       : 17px;
            }
        }

        .list {

            .li {
                display: flex;
                border : 1px solid gainsboro;
                padding: 1px;
                margin : 1px;

                .date {
                    padding: 5px 5px 0px;
                }

                .num {
                    color        : white;
                    padding      : 8px 12px 0px;
                    border-radius: 50%;
                }
            }
        }

    }

    .book {
        width   : 1010px;
        overflow: scroll;

        .date {
            display: flex;

            .datepicker {
                width  : 200px;
                padding: 5px 10px;
            }

            .datepicked {
                padding: 5px 10px;
            }
        }

        .list {



            .child {
                display  : flex;
                border   : 1px solid gainsboro;
                margin   : 3px;
                min-width: 100vw;

                .gach {
                    text-decoration: line-through;
                }

                .ngaygio {
                    padding: 10px;
                    width  : 170px;
                }

                .infobenhnhan {
                    padding: 10px;
                    width  : 300px;

                    h5 {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .infokham {
                    padding: 10px;

                    .small-ava {
                        border             : 1px solid gray;
                        background-size    : contain;
                        background-repeat  : no-repeat;
                        background-position: center;
                    }

                    .dr {
                        width        : 42px;
                        height       : 42px;
                        border-radius: 50%;
                    }

                    .pk {
                        width : 70px;
                        height: 42px;
                    }

                    .choose {
                        padding      : 2px 5px;
                        border       : 1px solid black;
                        border-radius: 3px;
                        margin       : 10px 10px 0px 0px;
                        cursor       : pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}