.detail-speciatly-container {

    .detail-speciatly-head {
        padding: 20px 70px;
        display: flex;


        .speciatly-img {
            height         : 150px;
            width          : 200px;
            background     : center center no-repeat;
            background-size: contain;
        }

        .speciatly-info {
            padding: 0 20px;

            .descriptionHTML {
                overflow        : hidden;
                background-color: #ecffff;
                padding         : 5px 20px;
                border-radius   : 10px;
            }

            .more {
                cursor: pointer;
                color : blue;
                margin: 0 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .detail-speciatly-boby {
        min-height: 100vh;

        .list {
            margin-left: 60px;
            min-height : 50vh;

            .label {
                font-size       : 19px;
                background-color: #ffa50066;
                padding         : 4px 19px;
                border-radius   : 7px;
                margin-top      : 13px;
                margin-left     : 10px;
            }

            .titlelistdoctor {
                margin-top      : 20px;
                background-color: #dcffc5;

                .h1 {
                    border          : 1px outset gainsboro;
                    color           : #395e3f;
                    background-color: #00ffef33;
                }

                width          : 1100px;
                display        : flex;
                justify-content: space-between;
            }
        }
    }
}