.manage-speciatly-container {
    padding: 0 15px;

    .ms-title {
        text-align       : center;
        margin-top       : 20px;
        margin-bottom    : 10px;
        // text-transform: uppercase;// viết hoa
        font-size        : 22px;
        font-weight      : 500;
        color            : #0071ba;
    }

    .add-new-speciatly {
        margin-top: 3vh;

        h5 {
            text-align: right;
        }

        .button-add-speciatly {
            // trường hợp thêm mới
            border       : none;
            background   : palegreen;
            padding      : 8px 5px;
            min-width    : 75px;
            border-radius: 3px;
            margin       : 12vh 0;
            cursor       : pointer;

            &:hover {
                opacity: 0.8;
            }

        }

        .button-edit-speciatly {
            // trường hợp sửa
            border       : none;
            background   : khaki;
            padding      : 8px 5px;
            min-width    : 75px;
            border-radius: 3px;
            margin-top   : 8vh;
            cursor       : pointer;

            &:hover {
                opacity: 0.8;
            }

        }

        .button-delete-speciatly {
            // trường hợp xóa
            border       : none;
            background   : tomato;
            padding      : 8px 5px;
            min-width    : 75px;
            border-radius: 3px;
            margin-top   : 2vh;
            cursor       : pointer;

            &:hover {
                opacity: 0.8;
            }

        }

        .preview-image {
            height         : 30vh;
            width          : 100%;
            border         : 1px solid #ddd;
            background     : center center no-repeat;
            background-size: contain;
            cursor         : pointer;
            margin-bottom  : 10px;
        }

        .label-upload {
            width           : 30vh;
            text-align      : center;
            padding         : 5px;
            border-radius   : 3px;
            background-color: #ddd;
            cursor          : pointer;


            &:hover {
                opacity: 0.9;
            }
        }
    }
}