.manage-speciatly-container {
    padding: 0 15px;

    .ms-title {
        text-align       : center;
        margin-top       : 20px;
        margin-bottom    : 10px;
        // text-transform: uppercase;// viết hoa
        font-size        : 22px;
        font-weight      : 500;
        color            : #0071ba;
    }

    .add-new-speciatly {
        margin-top: 3vh;

        .button-save-speciatly {
            border          : none;
            // background   : orange;
            padding         : 8px 5px;
            min-width       : 75px;
            border-radius   : 3px;
            margin          : 12vh 0;
        }

        .preview-image {
            height         : 150px;
            width          : 100%;
            border         : 1px solid #ddd;
            background     : center center no-repeat;
            background-size: contain;
            cursor         : pointer;
            margin-bottom  : 10px;
        }

        .label-upload {
            padding         : 5px;
            border-radius   : 3px;
            background-color: #ddd;
            cursor          : pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}