.medipackage-detail-container {
    min-height : 500px;
    padding-top: 20px;

    .intro-medipackage {
        display: flex;
        margin : 0 50px;

        .content-left {
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 275px;
            height             : 150px;
            margin             : 10px 20px;
            border             : 1px solid gainsboro;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                padding-left: 2px;
                padding-top : 15px;

                h5 {
                    font-size: 18px;
                }

                h1 {
                    font-size  : 30px;
                    font-weight: 600;
                }
            }

            .down {

                textarea {
                    background-color: white;
                    border          : none;
                    color           : black;
                    font-weight     : 100;
                    font-style      : italic;
                    resize          : none;
                }
            }
        }
    }

    .schedule-medipackage {
        margin-left  : 70px;
        margin-bottom: 30px;
        display      : flex;
        min-height   : 250px;
        min-width    : 1200px;
        padding      : 10px 0;

        .content-left,
        .content-right {
            width       : 48%;
            margin-right: 15px;
            border-right: 1px solid gainsboro;
        }

        .content-left {
            #animation {
                i {
                    font-size: 22px;
                    color    : green;
                }
            }

            select {
                background-color: #e0edff;
                border          : 1px solid #ddd;
                outline         : none;
                cursor          : pointer;
                padding         : 5px 3px;
                color           : #1b1bb0;
                font-weight     : 600;
                font-size       : 15px;

                option {
                    cursor: pointer;
                }
            }

            .text-calendar {
                margin         : 10px 0;
                display        : flex;
                justify-content: space-between;

                label {
                    cursor          : pointer;
                    margin-right    : 30px;
                    margin-top      : 13px;
                    padding         : 2px 5px;
                    background-color: #ddd;
                    border-radius   : 3px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    margin-top   : 13px;
                    margin-bottom: 0;
                    font-size    : 15px;
                    font-family  : sans-serif;
                    font-weight  : 600;
                }

            }

            .giokham {
                margin-top: 12px;
                display   : flex;
                gap       : 7px;
                flex-wrap : wrap;

                h5 {
                    background-color: #ffffb5;
                    padding         : 3px 13px;
                    border-radius   : 13px;
                }

                button {
                    text-align      : center;
                    width           : 135px;
                    border          : 1px solid gainsboro;
                    background-color: #ffff87;
                    height          : 33px;
                    font-size       : 14px;
                    font-family     : cursive;

                    &:hover {
                        background-color: #ffc800;
                    }
                }
            }

            .book-free {
                padding-top: 15px;
                font-size  : 17px;
                color      : green;
            }
        }

        .content-right {
            a {
                color: #0055b0;
            }

            label {
                font-size: 16px;

                a {
                    color : green;
                    cursor: pointer;

                    &:hover {
                        color: rgb(0, 183, 21);
                    }
                }
            }

            textarea {
                background-color: #f0f5ff;
                border          : 2px solid #dfdfff;
                color           : black;
                font-weight     : 100;
                font-size       : 16px;
                margin-left     : 10px;
                width           : 555px;
            }
        }

    }

    .text-center {
        label {
            font-size: 20px;
            color    : #452d00;
            border   : 4px groove white;
        }
    }

    .detail-info-medipackage {

        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }

        img {
            max-width  : 40vw;
            max-height : 90vh;
            margin-left: 19vw;
        }
    }

    .comment-medipackage {
        height: 50px;
    }
}