@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    box-sizing: border-box
}

// body {
//     font-family: 'Noto Sans JP', sans-serif;
// }

#label {
    color: DodgerBlue;
}

/* Full-width input fields */
input[id=musMediNickName],
input[id=musMediPassWord] {
    width        : 100%;
    padding      : 15px;
    margin       : 5px 0 22px 0;
    display      : inline-block;
    border       : none;
    width        : 100%;
    resize       : vertical;
    padding      : 15px;
    border-radius: 15px;
    border       : 0;
    box-shadow   : 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input[id=musMediNickName]:focus,
input[id=musMediPassWord]:focus {
    outline: none;
}

hr {
    border       : 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
#button {
    background-color: #4CAF50;
    color           : white;
    padding         : 14px 20px;
    margin          : 8px 0;
    border          : none;
    cursor          : pointer;
    width           : 100%;
    opacity         : 0.9;
}

#button:hover {
    opacity: 1;
}

/* Add padding to container elements */
#container {
    padding-top  : 2vh;
    padding-left : 30vh;
    padding-right: 30vh;
}

/* Clear floats */
#clearfix::after {
    content: "";
    clear  : both;
    display: table;
}