.clinic-child {
    cursor: pointer;

    .clinic-name {
        padding   : 7px 12px;
        font-size : 15px;
        text-align: center;
        color     : black;

        &:hover {
            color: #45c3d2;
        }
    }
}