.section-child {
    cursor: pointer;

    .specialty-name {
        font-size : 15px;
        text-align: center;
        padding   : 4px 15px;

        &:hover {
            color: #45cd32;
        }
    }
}