@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 7vh;
    position        : sticky;
    border-bottom   : 1px solid $border;
    top             : 0px;

    .rowLoz {
        display: flex;

        a {
            margin-right: 2vw;
        }
    }

    .logo-clinic-management-system {
        height             : 7vh;
        width              : 15vw;
        background-image   : url(../../assets/MANAGEmusMedi.png);
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
        margin-right       : 5vw;
        border-right       : 1px solid $border;
    }

    .btn-logout {
        color         : $common-text-color;
        line-height   : 7vh;
        height        : 7vh;
        // padding    : 0 10px;
        border-left   : 1px solid $border;

        &:hover {
            background-color: darken($colormain, 25);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .avatar-clinic {
        height       : 7vh;
        width        : 7vh;
        border-radius: 50%;
        margin-right : 1vw;

        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
    }
}